<a href="https://colab.research.google.com/github/ekalmes/Portfolio/blob/main/SwangoMetrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aggregating Financial Data for Areas Surrounding Zip Codes, and Mapping Them to Closest Airport 

Written by: Zeke Kalmes, for Bret Swango, Head of Workforce and Site Selection Analytics, Colliers International

## Imports

In [ ]:
#general imports
#!pip install geopandas
#!pip install geopy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from PIL import Image
import random

# import classifiers
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# import metrics for assessing classification models
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
# imports and functions for authenticating google account
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#id of zip file in google drive
file_id = '1kJvSzyeZMzrL85kDbgFQ_ZTpcPnW05-2'
downloaded = drive.CreateFile({'id': file_id})

In [ ]:
#user must download file into notebook 
downloaded.GetContentFile('colliers_analysis_7.zip')

In [ ]:
!ls -lha colliers_analysis_7.zip

-rw-r--r-- 1 root root 453M Jul 29 03:43 colliers_analysis_7.zip

In [ ]:
#unzipping images folder
filelist = !unzip colliers_analysis_7.zip

## Data Cleaning

### Amazon Warehouses

In [ ]:
df_amazon = pd.read_csv('colliers_analysis/re_amazon_distribution copy.csv', 
                        usecols=[1,3,4,5,6,7,8,9])
df_amazon.dropna(inplace=True)
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 764 entries, 0 to 828
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   brad_address_raw               764 non-null    object
 1   brad_src_file_nm               764 non-null    object
 2   brad_square_footage            764 non-null    object
 3   brad_year_opened               764 non-null    object
 4   brad_description_of_operation  764 non-null    object
 5   brad_state_nm                  764 non-null    object
 6   brad_location_type             764 non-null    object
 7   brad_process_ts                764 non-null    object
dtypes: object(8)
memory usage: 53.7+ KB

### Cargo

In [ ]:
df_cargo = pd.read_csv('colliers_analysis/Cargo Volume.xlsx - Sheet2.csv')
df_cargo.rename(columns={"zip":"ZIP"}, inplace = True)
df_cargo.drop(columns=['Unnamed: 0'], inplace = True)
df_cargo.head()

                                  airport_name IATA_code  ...   latitude   longitude
0                Memphis International Airport       MEM  ...  35.040031  -89.981873
1  Ted Stevens Anchorage International Airport       ANC  ...  61.175900 -149.990100
2             Louisville International Airport       SDF  ...  38.175662  -85.736923
3                  Miami International Airport       MIA  ...  25.795865  -80.287046
4            Los Angeles International Airport       LAX  ...  33.941589 -118.408530

[5 rows x 24 columns]

In [ ]:
df_cargo.drop(df_cargo[df_cargo['state'] == 'PR'].index, inplace = True)
df_cargo.reset_index(drop=True, inplace=True)
df_cargo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airport_name     48 non-null     object
 1   IATA_code        48 non-null     object
 2   city             48 non-null     object
 3   state            48 non-null     object
 4   2019             48 non-null     object
 5   2018             48 non-null     object
 6   2017             48 non-null     object
 7   2016             48 non-null     object
 8   2015             48 non-null     object
 9   2014             48 non-null     object
 10  2013             48 non-null     object
 11  2012             48 non-null     object
 12  2011             48 non-null     object
 13  2010             48 non-null     object
 14  2009             48 non-null     object
 15  2008             48 non-null     object
 16  10_year_per_chg  48 non-null     object
 17  14_'19_per_chg   48 non-null     object
 18  10_year_rank     48 non-null     int64
 19  14_'19_rank      48 non-null     int64
 20  address          48 non-null     object
 21  ZIP              48 non-null     int64
 22  latitude         48 non-null     float64
 23  longitude        48 non-null     float64
dtypes: float64(2), int64(3), object(19)
memory usage: 9.1+ KB

In [ ]:
df_cargo.set_index('ZIP', inplace = True)

### Labor

In [ ]:
df_labor = pd.read_csv('colliers_analysis/Occupation_Map_Wages_16_63_or_Less_in_2222_ZIPs_809.xlsx - Occupations.csv',
                       usecols=[0,1,2,3,4,7,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24])
df_labor.drop(df_labor[df_labor['2020 Net Commuters'] == 'Insf. Data'].index, inplace = True)
df_labor.reset_index(drop=True, inplace=True)
df_labor.rename(columns={"ZIP Name":"ZIP_Name"}, inplace = True)
df_labor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34453 entries, 0 to 34452
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ZIP                                  34453 non-null  int64
 1   ZIP_Name                             34453 non-null  object
 2   2019 Jobs                            34453 non-null  object
 3   2020 Jobs                            34453 non-null  object
 4   2019 - 2020 Change                   34453 non-null  object
 5   Regional Completions (2019)          34453 non-null  float64
 6   Automation Index                     34453 non-null  float64
 7   2020 Resident Workers                34453 non-null  object
 8   2020 Net Commuters                   34453 non-null  object
 9   Avg. Hourly Earnings                 34453 non-null  object
 10  Median Hourly Earnings               34453 non-null  object
 11  Median Annual Earnings               34453 non-null  object
 12  COL Index                            34453 non-null  object
 13  COL Adjusted Avg. Hourly Earnings    34453 non-null  object
 14  COL Adjusted Median Hourly Earnings  34453 non-null  object
 15  COL Adjusted Median Annual Earnings  34453 non-null  object
 16  Occ. Mix Effect                      34453 non-null  float64
 17  Nat'l Growth Effect                  34453 non-null  float64
 18  Expected Change                      34453 non-null  float64
 19  Competitive Effect                   34453 non-null  float64
 20  2014 Median Hourly Earnings          34453 non-null  object
 21  2015 Avg. Hourly Earnings            34453 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 5.8+ MB

In [ ]:
df_labor['2020 Net Commuters'] = pd.to_numeric(df_labor['2020 Net Commuters'], errors = 'coerce')
df_labor['2020 Jobs'] = pd.to_numeric(df_labor['2020 Jobs'], errors = 'coerce')
df_labor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34453 entries, 0 to 34452
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ZIP                                  34453 non-null  int64
 1   ZIP_Name                             34453 non-null  object
 2   2019 Jobs                            34453 non-null  object
 3   2020 Jobs                            34453 non-null  int64
 4   2019 - 2020 Change                   34453 non-null  object
 5   Regional Completions (2019)          34453 non-null  float64
 6   Automation Index                     34453 non-null  float64
 7   2020 Resident Workers                34453 non-null  object
 8   2020 Net Commuters                   34453 non-null  float64
 9   Avg. Hourly Earnings                 34453 non-null  object
 10  Median Hourly Earnings               34453 non-null  object
 11  Median Annual Earnings               34453 non-null  object
 12  COL Index                            34453 non-null  object
 13  COL Adjusted Avg. Hourly Earnings    34453 non-null  object
 14  COL Adjusted Median Hourly Earnings  34453 non-null  object
 15  COL Adjusted Median Annual Earnings  34453 non-null  object
 16  Occ. Mix Effect                      34453 non-null  float64
 17  Nat'l Growth Effect                  34453 non-null  float64
 18  Expected Change                      34453 non-null  float64
 19  Competitive Effect                   34453 non-null  float64
 20  2014 Median Hourly Earnings          34453 non-null  object
 21  2015 Avg. Hourly Earnings            34453 non-null  object
dtypes: float64(7), int64(2), object(13)
memory usage: 5.8+ MB

### 15 min

In [ ]:
df_dt_15 = pd.read_csv('colliers_analysis/drivetime_zip_intersect_15 copy.csv',
                       usecols=[1,2,3,4,8,9,10])
# Renaming columns to portray distance so drivetime column can be dropped
df_dt_15.rename(columns = {"sdzi_intersect_zip_cd":"sdzi_15_intersect_zip_cd", 
                           "sdzi_intersect_zip_area":"sdzi_15_intersect_zip_area", 
                           "sdzi_intersect_area":"sdzi_15_intersect_area",
                           "sdzi_zip_cd":"ZIP"}, inplace = True)
df_dt_15['sdzi_latitude'] = pd.to_numeric(df_dt_15['sdzi_latitude'], errors='coerce')
df_dt_15['sdzi_longitude'] = pd.to_numeric(df_dt_15['sdzi_longitude'], errors = 'coerce')
df_dt_15['ZIP'] = pd.to_numeric(df_dt_15['ZIP'], errors='coerce')
df_dt_15['sdzi_15_intersect_zip_cd'] = pd.to_numeric(df_dt_15['sdzi_15_intersect_zip_cd'], errors = 'coerce')
df_dt_15['sdzi_15_intersect_zip_area'] = pd.to_numeric(df_dt_15['sdzi_15_intersect_zip_area'], errors='coerce')
df_dt_15['sdzi_15_intersect_area'] = pd.to_numeric(df_dt_15['sdzi_15_intersect_area'], errors = 'coerce')
print(df_dt_15.info())
print(df_dt_15['sdzi_latitude'][20])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,4,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257436 entries, 0 to 257435
Data columns (total 7 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   sdzi_zip_nm                 257436 non-null  object
 1   ZIP                         257435 non-null  float64
 2   sdzi_longitude              257435 non-null  float64
 3   sdzi_latitude               257435 non-null  float64
 4   sdzi_15_intersect_zip_cd    257435 non-null  float64
 5   sdzi_15_intersect_zip_area  257435 non-null  float64
 6   sdzi_15_intersect_area      257435 non-null  float64
dtypes: float64(6), object(1)
memory usage: 13.7+ MB
None
36.245629770177594

In [ ]:
# MultiIndex Using sdzi_zip_cd as 0 level, sdzi_15_intersect_zip_cd as level 1
df_dt_15.set_index(['ZIP', 'sdzi_15_intersect_zip_cd'], inplace = True)
df_dt_15.sort_index(inplace = True)
print(df_dt_15.loc[[27]])

                                  sdzi_zip_nm  ... sdzi_15_intersect_area
ZIP sdzi_15_intersect_zip_cd                   ...
27  27                        Pike Ntl Forest  ...                 2.5569
    80809                     Pike Ntl Forest  ...                5.53111
    80829                     Pike Ntl Forest  ...              0.0670102

[3 rows x 5 columns]

### 30 min

In [ ]:
df_dt_30 = pd.read_csv('colliers_analysis/drivetime_zip_intersect_30 copy.csv',
                       usecols=[1,2,3,4,8,9,10])
df_dt_30.rename(columns = {"sdzi_intersect_zip_cd":"ZIP", 
                           "sdzi_intersect_zip_area":"sdzi_30_intersect_zip_area", 
                           "sdzi_intersect_area":"sdzi_30_intersect_area"}, inplace = True)
df_dt_30['sdzi_latitude'] = pd.to_numeric(df_dt_30['sdzi_latitude'], errors='coerce')
df_dt_30['sdzi_longitude'] = pd.to_numeric(df_dt_30['sdzi_longitude'], errors = 'coerce')
df_dt_30['ZIP'] = pd.to_numeric(df_dt_30['ZIP'], errors='coerce')
df_dt_30['sdzi_zip_cd'] = pd.to_numeric(df_dt_30['sdzi_zip_cd'], errors = 'coerce')
df_dt_30['sdzi_30_intersect_zip_area'] = pd.to_numeric(df_dt_30['sdzi_30_intersect_zip_area'], errors='coerce')
df_dt_30['sdzi_30_intersect_area'] = pd.to_numeric(df_dt_30['sdzi_30_intersect_area'], errors = 'coerce')
print(df_dt_30.info())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,4,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861804 entries, 0 to 861803
Data columns (total 7 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   sdzi_zip_nm                 861804 non-null  object
 1   sdzi_zip_cd                 861799 non-null  float64
 2   sdzi_longitude              861799 non-null  float64
 3   sdzi_latitude               861799 non-null  float64
 4   ZIP                         861799 non-null  float64
 5   sdzi_30_intersect_zip_area  861799 non-null  float64
 6   sdzi_30_intersect_area      861799 non-null  float64
dtypes: float64(6), object(1)
memory usage: 46.0+ MB
None

In [ ]:
#df_dt_30.set_index('ZIP', inplace=True)

### 45 min

In [ ]:
df_dt_45 = pd.read_csv('colliers_analysis/drivetime_zip_intersect_45 copy.csv',
                       usecols=[1,2,3,4,8,9,10])
df_dt_45.rename(columns = {"sdzi_intersect_zip_cd":"sdzi_45_intersect_zip_cd", 
                           "sdzi_intersect_zip_area":"sdzi_45_intersect_zip_area", 
                           "sdzi_intersect_area":"sdzi_45_intersect_area",
                           "sdzi_zip_cd":"ZIP"}, inplace = True)
df_dt_45['sdzi_latitude'] = pd.to_numeric(df_dt_45['sdzi_latitude'], errors='coerce')
df_dt_45['sdzi_longitude'] = pd.to_numeric(df_dt_45['sdzi_longitude'], errors = 'coerce')
df_dt_45['ZIP'] = pd.to_numeric(df_dt_45['ZIP'], errors='coerce')
df_dt_45['sdzi_45_intersect_zip_cd'] = pd.to_numeric(df_dt_45['sdzi_45_intersect_zip_cd'], errors = 'coerce')
df_dt_45['sdzi_45_intersect_zip_area'] = pd.to_numeric(df_dt_45['sdzi_45_intersect_zip_area'], errors='coerce')
df_dt_45['sdzi_45_intersect_area'] = pd.to_numeric(df_dt_45['sdzi_45_intersect_area'], errors = 'coerce')
print(df_dt_45.info())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,4,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1790220 entries, 0 to 1790219
Data columns (total 7 columns):
 #   Column                      Dtype
---  ------                      -----
 0   sdzi_zip_nm                 object
 1   ZIP                         float64
 2   sdzi_longitude              float64
 3   sdzi_latitude               float64
 4   sdzi_45_intersect_zip_cd    float64
 5   sdzi_45_intersect_zip_area  float64
 6   sdzi_45_intersect_area      float64
dtypes: float64(6), object(1)
memory usage: 95.6+ MB
None

In [ ]:
df_dt_45.set_index(['ZIP', 'sdzi_45_intersect_zip_cd'], inplace = True)
df_dt_45.sort_index(inplace = True)
print(df_dt_45.loc[[27]])

                                  sdzi_zip_nm  ... sdzi_45_intersect_area
ZIP sdzi_45_intersect_zip_cd                   ...
27  27                        Pike Ntl Forest  ...                 10.573
    80132                     Pike Ntl Forest  ...                2.09027
    80135                     Pike Ntl Forest  ...               0.549064
    80809                     Pike Ntl Forest  ...                21.3645
    80814                     Pike Ntl Forest  ...                16.2855
    80816                     Pike Ntl Forest  ...                4.41687
    80817                     Pike Ntl Forest  ...                14.1824
    80819                     Pike Ntl Forest  ...                4.30384
    80829                     Pike Ntl Forest  ...                9.73276
    80840                     Pike Ntl Forest  ...                5.91199
    80863                     Pike Ntl Forest  ...                45.4359
    80902                     Pike Ntl Forest  ...                1.81845
    80903                     Pike Ntl Forest  ...                 4.1356
    80904                     Pike Ntl Forest  ...                12.5093
    80905                     Pike Ntl Forest  ...                5.01903
    80906                     Pike Ntl Forest  ...                21.8551
    80907                     Pike Ntl Forest  ...                9.92947
    80908                     Pike Ntl Forest  ...                2.55401
    80909                     Pike Ntl Forest  ...                7.95058
    80910                     Pike Ntl Forest  ...                 7.0093
    80911                     Pike Ntl Forest  ...                13.1008
    80913                     Pike Ntl Forest  ...                7.11923
    80914                     Pike Ntl Forest  ...               0.496127
    80915                     Pike Ntl Forest  ...                5.57298
    80916                     Pike Ntl Forest  ...                9.71438
    80917                     Pike Ntl Forest  ...                4.72711
    80918                     Pike Ntl Forest  ...                12.1548
    80919                     Pike Ntl Forest  ...                13.6098
    80920                     Pike Ntl Forest  ...                11.8772
    80921                     Pike Ntl Forest  ...                10.6229
    80922                     Pike Ntl Forest  ...                0.20022
    80923                     Pike Ntl Forest  ...                2.34975
    80924                     Pike Ntl Forest  ...                1.79837
    80925                     Pike Ntl Forest  ...                5.41322
    80926                     Pike Ntl Forest  ...                3.50752
    80929                     Pike Ntl Forest  ...               0.687967
    80951                     Pike Ntl Forest  ...               0.361437
    81008                     Pike Ntl Forest  ...            0.000940854

[38 rows x 5 columns]

### 60 min

In [ ]:
df_dt_60 = pd.read_csv('colliers_analysis/drivetime_zip_intersect_60 copy.csv',
                       usecols=[1,2,3,4,8,9,10])
df_dt_60.rename(columns = {"sdzi_intersect_zip_cd":"sdzi_60_intersect_zip_cd", 
                           "sdzi_intersect_zip_area":"sdzi_60_intersect_zip_area", 
                           "sdzi_intersect_area":"sdzi_60_intersect_area",
                           "sdzi_zip_cd":"ZIP"}, inplace = True)
df_dt_60['sdzi_latitude'] = pd.to_numeric(df_dt_60['sdzi_latitude'], errors='coerce')
df_dt_60['sdzi_longitude'] = pd.to_numeric(df_dt_60['sdzi_longitude'], errors = 'coerce')
df_dt_60['ZIP'] = pd.to_numeric(df_dt_60['ZIP'], errors='coerce')
df_dt_60['sdzi_60_intersect_zip_cd'] = pd.to_numeric(df_dt_60['sdzi_60_intersect_zip_cd'], errors = 'coerce')
df_dt_60['sdzi_60_intersect_zip_area'] = pd.to_numeric(df_dt_60['sdzi_60_intersect_zip_area'], errors='coerce')
df_dt_60['sdzi_60_intersect_area'] = pd.to_numeric(df_dt_60['sdzi_60_intersect_area'], errors = 'coerce')
print(df_dt_60.info())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,4,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2997894 entries, 0 to 2997893
Data columns (total 7 columns):
 #   Column                      Dtype
---  ------                      -----
 0   sdzi_zip_nm                 object
 1   ZIP                         float64
 2   sdzi_longitude              float64
 3   sdzi_latitude               float64
 4   sdzi_60_intersect_zip_cd    float64
 5   sdzi_60_intersect_zip_area  float64
 6   sdzi_60_intersect_area      float64
dtypes: float64(6), object(1)
memory usage: 160.1+ MB
None

In [ ]:
df_dt_60.set_index(['ZIP', 'sdzi_60_intersect_zip_cd'], inplace = True)
df_dt_60.sort_index(inplace = True)
print(df_dt_60.loc[[27]])

                                  sdzi_zip_nm  ... sdzi_60_intersect_area
ZIP sdzi_60_intersect_zip_cd                   ...
27  27                        Pike Ntl Forest  ...                17.0559
    80104                     Pike Ntl Forest  ...                1.97133
    80106                     Pike Ntl Forest  ...              0.0573367
    80109                     Pike Ntl Forest  ...               0.358221
    80116                     Pike Ntl Forest  ...               0.699242
    80118                     Pike Ntl Forest  ...                21.6981
    80132                     Pike Ntl Forest  ...                32.6893
    80133                     Pike Ntl Forest  ...                2.41321
    80135                     Pike Ntl Forest  ...                13.1268
    80808                     Pike Ntl Forest  ...               0.647872
    80809                     Pike Ntl Forest  ...                23.9285
    80813                     Pike Ntl Forest  ...              0.0889616
    80814                     Pike Ntl Forest  ...                51.9008
    80816                     Pike Ntl Forest  ...                40.6446
    80817                     Pike Ntl Forest  ...                52.0131
    80819                     Pike Ntl Forest  ...                5.55515
    80827                     Pike Ntl Forest  ...                6.13277
    80829                     Pike Ntl Forest  ...                14.0548
    80831                     Pike Ntl Forest  ...                37.8413
    80840                     Pike Ntl Forest  ...                17.6975
    80863                     Pike Ntl Forest  ...                 81.526
    80902                     Pike Ntl Forest  ...                2.65785
    80903                     Pike Ntl Forest  ...                 4.1356
    80904                     Pike Ntl Forest  ...                 13.637
    80905                     Pike Ntl Forest  ...                5.01903
    80906                     Pike Ntl Forest  ...                26.6163
    80907                     Pike Ntl Forest  ...                9.92947
    80908                     Pike Ntl Forest  ...                68.4619
    80909                     Pike Ntl Forest  ...                7.95058
    80910                     Pike Ntl Forest  ...                 7.0093
    80911                     Pike Ntl Forest  ...                13.6204
    80912                     Pike Ntl Forest  ...             0.00178355
    80913                     Pike Ntl Forest  ...                30.4829
    80914                     Pike Ntl Forest  ...                0.85832
    80915                     Pike Ntl Forest  ...                7.25233
    80916                     Pike Ntl Forest  ...                16.9542
    80917                     Pike Ntl Forest  ...                6.03256
    80918                     Pike Ntl Forest  ...                12.1548
    80919                     Pike Ntl Forest  ...                14.5059
    80920                     Pike Ntl Forest  ...                11.8772
    80921                     Pike Ntl Forest  ...                25.7688
    80922                     Pike Ntl Forest  ...                6.02163
    80923                     Pike Ntl Forest  ...                6.69685
    80924                     Pike Ntl Forest  ...                5.65215
    80925                     Pike Ntl Forest  ...                18.1259
    80926                     Pike Ntl Forest  ...                16.0903
    80927                     Pike Ntl Forest  ...                1.71876
    80928                     Pike Ntl Forest  ...                4.48716
    80929                     Pike Ntl Forest  ...                 21.422
    80930                     Pike Ntl Forest  ...                5.52738
    80938                     Pike Ntl Forest  ...                 1.0274
    80939                     Pike Ntl Forest  ...               0.617235
    80951                     Pike Ntl Forest  ...                10.3647
    81007                     Pike Ntl Forest  ...                 1.4177
    81008                     Pike Ntl Forest  ...                9.62169
    81240                     Pike Ntl Forest  ...                2.60175

[56 rows x 5 columns]

### 120 min

In [ ]:
df_dt_120 = pd.read_csv('colliers_analysis/drivetime_zip_intersect_120 copy.csv',
                        usecols=[1,2,3,4,8,9,10])
df_dt_120.rename(columns = {"sdzi_intersect_zip_cd":"ZIP", 
                           "sdzi_intersect_zip_area":"sdzi_120_intersect_zip_area", 
                           "sdzi_intersect_area":"sdzi_120_intersect_area"}, inplace = True)
df_dt_120['sdzi_latitude'] = pd.to_numeric(df_dt_120['sdzi_latitude'], errors='coerce')
df_dt_120['sdzi_longitude'] = pd.to_numeric(df_dt_120['sdzi_longitude'], errors = 'coerce')
df_dt_120['sdzi_zip_cd'] = pd.to_numeric(df_dt_120['sdzi_zip_cd'], errors='coerce')
df_dt_120['ZIP'] = pd.to_numeric(df_dt_120['ZIP'], errors = 'coerce')
df_dt_120['sdzi_120_intersect_zip_area'] = pd.to_numeric(df_dt_120['sdzi_120_intersect_zip_area'], errors='coerce')
df_dt_120['sdzi_120_intersect_area'] = pd.to_numeric(df_dt_120['sdzi_120_intersect_area'], errors = 'coerce')
print(df_dt_120.info())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,4,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13143722 entries, 0 to 13143721
Data columns (total 7 columns):
 #   Column                       Dtype
---  ------                       -----
 0   sdzi_zip_nm                  object
 1   sdzi_zip_cd                  float64
 2   sdzi_longitude               float64
 3   sdzi_latitude                float64
 4   ZIP                          float64
 5   sdzi_120_intersect_zip_area  float64
 6   sdzi_120_intersect_area      float64
dtypes: float64(6), object(1)
memory usage: 702.0+ MB
None

In [ ]:
#df_dt_120.set_index(['ZIP', 'sdzi_120_intersect_zip_cd'], inplace = True)
#df_dt_120.sort_index(inplace = True)
#print(df_dt_120.loc[[27]])

                                   sdzi_zip_nm  ... sdzi_120_intersect_area
ZIP sdzi_120_intersect_zip_cd                   ...
27  27                         Pike Ntl Forest  ...                 42.9875
    80002                      Pike Ntl Forest  ...                 5.71565
    80003                      Pike Ntl Forest  ...                 6.53717
    80004                      Pike Ntl Forest  ...                 7.80868
    80005                      Pike Ntl Forest  ...                 11.7197
...                                        ...  ...                     ...
    81236                      Pike Ntl Forest  ...                 23.5395
    81240                      Pike Ntl Forest  ...                 222.989
    81244                      Pike Ntl Forest  ...                 1.79359
    81252                      Pike Ntl Forest  ...                 33.2442
    81253                      Pike Ntl Forest  ...                  95.527

[243 rows x 5 columns]

## Joining Labor and Distance Data on MultiIndex

### Joining Labor and 120 intersect zip codes 

This will map the intersect zip codes that have labor data to the labor data zip codes. Then, this new df will be mapped to each ranges original zip codes, and will be able to aggregate labor data of the surrounding zip codes.

In [ ]:
df_map_120_zc = df_labor.merge(df_dt_120, how='inner')
print(df_map_120_zc.info())
print(df_map_120_zc.head(100))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12270042 entries, 0 to 12270041
Data columns (total 28 columns):
 #   Column                               Dtype
---  ------                               -----
 0   ZIP                                  int64
 1   ZIP_Name                             object
 2   2019 Jobs                            object
 3   2020 Jobs                            object
 4   2019 - 2020 Change                   object
 5   Regional Completions (2019)          float64
 6   Automation Index                     float64
 7   2020 Resident Workers                object
 8   2020 Net Commuters                   float64
 9   Avg. Hourly Earnings                 object
 10  Median Hourly Earnings               object
 11  Median Annual Earnings               object
 12  COL Index                            object
 13  COL Adjusted Avg. Hourly Earnings    object
 14  COL Adjusted Median Hourly Earnings  object
 15  COL Adjusted Median Annual Earnings  object
 16  Occ. Mix Effect                      float64
 17  Nat'l Growth Effect                  float64
 18  Expected Change                      float64
 19  Competitive Effect                   float64
 20  2014 Median Hourly Earnings          object
 21  2015 Avg. Hourly Earnings            object
 22  sdzi_zip_nm                          object
 23  sdzi_zip_cd                          float64
 24  sdzi_longitude                       float64
 25  sdzi_latitude                        float64
 26  sdzi_120_intersect_zip_area          float64
 27  sdzi_120_intersect_area              float64
dtypes: float64(12), int64(1), object(15)
memory usage: 2.7+ GB
None
      ZIP  ... sdzi_120_intersect_area
0     151  ...                0.147009
1     151  ...              116.482820
2     151  ...              116.482820
3     151  ...                0.139703
4     151  ...                0.612642
..    ...  ...                     ...
95  98101  ...                0.519979
96  98101  ...                0.519979
97  98101  ...                0.519979
98  98101  ...                0.519979
99  98101  ...                0.519979

[100 rows x 28 columns]

In [ ]:
df_map_15_zc = df_labor.merge(df_dt_15, how='inner', left_on='ZIP', right_on='sdzi_15_intersect_zip_cd')
print(df_map_15_zc.info())
print(df_map_15_zc.head(100))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 245161 entries, 0 to 245160
Data columns (total 29 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ZIP_x                                245161 non-null  int64
 1   ZIP_Name                             245161 non-null  object
 2   2019 Jobs                            245161 non-null  object
 3   2020 Jobs                            245161 non-null  object
 4   2019 - 2020 Change                   245161 non-null  object
 5   Regional Completions (2019)          245161 non-null  float64
 6   Automation Index                     245161 non-null  float64
 7   2020 Resident Workers                245161 non-null  object
 8   2020 Net Commuters                   245161 non-null  float64
 9   Avg. Hourly Earnings                 245161 non-null  object
 10  Median Hourly Earnings               245161 non-null  object
 11  Median Annual Earnings               245161 non-null  object
 12  COL Index                            245161 non-null  object
 13  COL Adjusted Avg. Hourly Earnings    245161 non-null  object
 14  COL Adjusted Median Hourly Earnings  245161 non-null  object
 15  COL Adjusted Median Annual Earnings  245161 non-null  object
 16  Occ. Mix Effect                      245161 non-null  float64
 17  Nat'l Growth Effect                  245161 non-null  float64
 18  Expected Change                      245161 non-null  float64
 19  Competitive Effect                   245161 non-null  float64
 20  2014 Median Hourly Earnings          245161 non-null  object
 21  2015 Avg. Hourly Earnings            245161 non-null  object
 22  sdzi_zip_nm                          245161 non-null  object
 23  ZIP_y                                245161 non-null  float64
 24  sdzi_longitude                       245161 non-null  float64
 25  sdzi_latitude                        245161 non-null  float64
 26  sdzi_15_intersect_zip_cd             245161 non-null  float64
 27  sdzi_15_intersect_zip_area           245161 non-null  float64
 28  sdzi_15_intersect_area               245161 non-null  float64
dtypes: float64(13), int64(1), object(15)
memory usage: 56.1+ MB
None
    ZIP_x  ... sdzi_15_intersect_area
0     151  ...               2.616372
1     151  ...               0.524438
2   98101  ...               0.088555
3   98101  ...               0.101708
4   98101  ...               0.519979
..    ...  ...                    ...
95  98052  ...               3.728431
96  98052  ...               0.098402
97  98052  ...              18.039820
98  98052  ...               3.853983
99  98052  ...               5.652551

[100 rows x 29 columns]

In [ ]:
# df_map_15_zc.set_index(['ZIP_y', 'sdzi_15_intersect_zip_cd'], inplace = True)
# df_map_15_zc.sort_index(inplace = True)
df_map_15_zc.head(100)

                                 ZIP_x  ... sdzi_15_intersect_area
ZIP_y  sdzi_15_intersect_zip_cd         ...
12.0   96130.0                   96130  ...               0.045753
27.0   80809.0                   80809  ...               5.531113
       80829.0                   80829  ...               0.067010
29.0   95922.0                   95922  ...               0.743908
       95981.0                   95981  ...               0.005655
...                                ...  ...                    ...
1005.0 1543.0                     1543  ...               0.316637
1007.0 1002.0                     1002  ...               1.696739
       1007.0                     1007  ...              38.091411
       1009.0                     1009  ...               0.012042
       1033.0                     1033  ...               4.311263

[100 rows x 27 columns]

In [ ]:
df_map_15_zc.to_csv(r'colliers_analysis\15_min_labor_data.csv')

### 15 min

In [ ]:
df_labor_15 = df_labor.join(df_dt_15, how='inner', on='ZIP')
print(df_labor_15.head(100))
print(df_labor_15.info())

ValueError: ignored

### 30 min

In [ ]:
df_map_30_zc = df_labor.merge(df_dt_30, how='inner', on='ZIP')
print(df_map_30_zc.info())
print(df_map_30_zc.head(100))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 823362 entries, 0 to 823361
Data columns (total 28 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ZIP                                  823362 non-null  int64
 1   ZIP_Name                             823362 non-null  object
 2   2019 Jobs                            823362 non-null  object
 3   2020 Jobs                            823362 non-null  int64
 4   2019 - 2020 Change                   823362 non-null  object
 5   Regional Completions (2019)          823362 non-null  float64
 6   Automation Index                     823362 non-null  float64
 7   2020 Resident Workers                823362 non-null  object
 8   2020 Net Commuters                   823362 non-null  float64
 9   Avg. Hourly Earnings                 823362 non-null  object
 10  Median Hourly Earnings               823362 non-null  object
 11  Median Annual Earnings               823362 non-null  object
 12  COL Index                            823362 non-null  object
 13  COL Adjusted Avg. Hourly Earnings    823362 non-null  object
 14  COL Adjusted Median Hourly Earnings  823362 non-null  object
 15  COL Adjusted Median Annual Earnings  823362 non-null  object
 16  Occ. Mix Effect                      823362 non-null  float64
 17  Nat'l Growth Effect                  823362 non-null  float64
 18  Expected Change                      823362 non-null  float64
 19  Competitive Effect                   823362 non-null  float64
 20  2014 Median Hourly Earnings          823362 non-null  object
 21  2015 Avg. Hourly Earnings            823362 non-null  object
 22  sdzi_zip_nm                          823362 non-null  object
 23  sdzi_zip_cd                          823362 non-null  float64
 24  sdzi_longitude                       823362 non-null  float64
 25  sdzi_latitude                        823362 non-null  float64
 26  sdzi_30_intersect_zip_area           823362 non-null  float64
 27  sdzi_30_intersect_area               823362 non-null  float64
dtypes: float64(12), int64(2), object(14)
memory usage: 182.2+ MB
None
      ZIP  ... sdzi_30_intersect_area
0     151  ...               9.177082
1     151  ...               3.404613
2     151  ...              15.419703
3     151  ...               1.329705
4     151  ...               0.302542
..    ...  ...                    ...
95  98004  ...               6.774804
96  98004  ...               6.786035
97  98004  ...               6.798013
98  98004  ...               6.764073
99  98004  ...               3.738553

[100 rows x 28 columns]

In [ ]:
df_map_30_zc.set_index(['sdzi_zip_cd', 'ZIP'], inplace=True)
df_map_30_zc.sort_index(inplace=True)
df_map_30_zc.head(100)

                        ZIP_Name  ... sdzi_30_intersect_area
sdzi_zip_cd ZIP                   ...
12.0        95947     Greenville  ...               0.132932
            96130     Susanville  ...               0.876621
16.0        93518       Caliente  ...               0.026775
18.0        93015       Fillmore  ...               0.457163
22.0        95437     Fort Bragg  ...               0.093092
...                          ...  ...                    ...
164.0       56727         Grygla  ...               3.271102
168.0       3581          Gorham  ...               0.009739
            3813   Center Conway  ...               0.393560
172.0       3251         Lincoln  ...               0.034074
            3574       Bethlehem  ...               0.196659

[100 rows x 26 columns]

### 45 min

In [ ]:
df_labor_45 = df_labor.join(df_dt_45, how='inner')
print(df_labor_45.head(100))
print(df_labor_45.info())

                                                             ZIP_Name  ... sdzi_45_intersect_area_pct
ZIP  sdzi_45_intersect_zip_cd                                          ...
116  116                               [Idaho, ZIP Code not reported]  ...                   0.101074
119  119                                [Iowa, ZIP Code not reported]  ...                   0.563632
121  121                            [Kentucky, ZIP Code not reported]  ...                  0.0748723
125  125                       [Massachusetts, ZIP Code not reported]  ...                 0.00717913
126  126                            [Michigan, ZIP Code not reported]  ...                   0.152415
...                                                               ...  ...                        ...
1001 1108                                                      Agawam  ...                          1
     1109                                                      Agawam  ...                          1
     1118                                                      Agawam  ...                          1
     1119                                                      Agawam  ...                          1
     1128                                                      Agawam  ...                          1

[100 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1082315 entries, (116, 116) to (99950, 99950)
Data columns (total 27 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   ZIP_Name                             1082315 non-null  object
 1   2019 Jobs                            1082315 non-null  object
 2   2020 Jobs                            1082315 non-null  object
 3   2019 - 2020 Change                   1082315 non-null  object
 4   Regional Completions (2019)          1082315 non-null  float64
 5   Automation Index                     1082315 non-null  float64
 6   2020 Resident Workers                1082315 non-null  object
 7   2020 Net Commuters                   1082315 non-null  object
 8   Avg. Hourly Earnings                 1082315 non-null  object
 9   Median Hourly Earnings               1082315 non-null  object
 10  Median Annual Earnings               1082315 non-null  object
 11  COL Index                            1082315 non-null  object
 12  COL Adjusted Avg. Hourly Earnings    1082315 non-null  object
 13  COL Adjusted Median Hourly Earnings  1082315 non-null  object
 14  COL Adjusted Median Annual Earnings  1082315 non-null  object
 15  Occ. Mix Effect                      1082315 non-null  float64
 16  Nat'l Growth Effect                  1082315 non-null  float64
 17  Expected Change                      1082315 non-null  float64
 18  Competitive Effect                   1082315 non-null  float64
 19  2014 Median Hourly Earnings          1082315 non-null  object
 20  2015 Avg. Hourly Earnings            1082315 non-null  object
 21  sdzi_zip_nm                          1082315 non-null  object
 22  sdzi_longitude                       1082315 non-null  object
 23  sdzi_latitude                        1082315 non-null  object
 24  sdzi_45_intersect_zip_area           1082315 non-null  object
 25  sdzi_45_intersect_area               1082315 non-null  object
 26  sdzi_45_intersect_area_pct           1082315 non-null  object
dtypes: float64(6), object(21)
memory usage: 230.9+ MB
None

### 60 min

In [ ]:
df_labor_60 = df_labor.join(df_dt_60, how='inner')
print(df_labor_60.head(100))
print(df_labor_60.info())

                                                             ZIP_Name  ... sdzi_60_intersect_area_pct
ZIP  sdzi_60_intersect_zip_cd                                          ...
116  116                               [Idaho, ZIP Code not reported]  ...                   0.179688
119  119                                [Iowa, ZIP Code not reported]  ...                   0.646881
     70357                              [Iowa, ZIP Code not reported]  ...                  0.0467614
121  121                            [Kentucky, ZIP Code not reported]  ...                   0.130413
125  125                       [Massachusetts, ZIP Code not reported]  ...                   0.010917
...                                                               ...  ...                        ...
1001 1033                                                      Agawam  ...                          1
     1034                                                      Agawam  ...                    0.59932
     1035                                                      Agawam  ...                          1
     1036                                                      Agawam  ...                          1
     1038                                                      Agawam  ...                          1

[100 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1930857 entries, (116, 116) to (96121, 96136)
Data columns (total 27 columns):
 #   Column                               Dtype
---  ------                               -----
 0   ZIP_Name                             object
 1   2019 Jobs                            object
 2   2020 Jobs                            object
 3   2019 - 2020 Change                   object
 4   Regional Completions (2019)          float64
 5   Automation Index                     float64
 6   2020 Resident Workers                object
 7   2020 Net Commuters                   object
 8   Avg. Hourly Earnings                 object
 9   Median Hourly Earnings               object
 10  Median Annual Earnings               object
 11  COL Index                            object
 12  COL Adjusted Avg. Hourly Earnings    object
 13  COL Adjusted Median Hourly Earnings  object
 14  COL Adjusted Median Annual Earnings  object
 15  Occ. Mix Effect                      float64
 16  Nat'l Growth Effect                  float64
 17  Expected Change                      float64
 18  Competitive Effect                   float64
 19  2014 Median Hourly Earnings          object
 20  2015 Avg. Hourly Earnings            object
 21  sdzi_zip_nm                          object
 22  sdzi_longitude                       object
 23  sdzi_latitude                        object
 24  sdzi_60_intersect_zip_area           object
 25  sdzi_60_intersect_area               object
 26  sdzi_60_intersect_area_pct           object
dtypes: float64(6), object(21)
memory usage: 410.6+ MB
None

### 120 min

In [ ]:
df_labor_120 = df_labor.merge(df_dt_120, how='left', on='ZIP')
print(df_labor_120.head(100))
print(df_labor_120.info())

      ZIP  ... sdzi_120_intersect_area
0     151  ...                0.147009
1     151  ...              116.482820
2     151  ...              116.482820
3     151  ...                0.139703
4     151  ...                0.612642
..    ...  ...                     ...
95  98101  ...                0.519979
96  98101  ...                0.519979
97  98101  ...                0.519979
98  98101  ...                0.519979
99  98101  ...                0.519979

[100 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12275823 entries, 0 to 12275822
Data columns (total 28 columns):
 #   Column                               Dtype
---  ------                               -----
 0   ZIP                                  int64
 1   ZIP_Name                             object
 2   2019 Jobs                            object
 3   2020 Jobs                            object
 4   2019 - 2020 Change                   object
 5   Regional Completions (2019)          float64
 6   Automation Index                     float64
 7   2020 Resident Workers                object
 8   2020 Net Commuters                   float64
 9   Avg. Hourly Earnings                 object
 10  Median Hourly Earnings               object
 11  Median Annual Earnings               object
 12  COL Index                            object
 13  COL Adjusted Avg. Hourly Earnings    object
 14  COL Adjusted Median Hourly Earnings  object
 15  COL Adjusted Median Annual Earnings  object
 16  Occ. Mix Effect                      float64
 17  Nat'l Growth Effect                  float64
 18  Expected Change                      float64
 19  Competitive Effect                   float64
 20  2014 Median Hourly Earnings          object
 21  2015 Avg. Hourly Earnings            object
 22  sdzi_zip_nm                          object
 23  sdzi_zip_cd                          float64
 24  sdzi_longitude                       float64
 25  sdzi_latitude                        float64
 26  sdzi_120_intersect_zip_area          float64
 27  sdzi_120_intersect_area              float64
dtypes: float64(12), int64(1), object(15)
memory usage: 2.7+ GB
None

## Calculating Total Net Commuters In Each Distance Range

### 15 min

## Labor Profiles 30 Min From Airports

In [ ]:
# df_cargo_30 = df_cargo.merge(df_dt_30, how='inner', on='ZIP')
# print(df_cargo_30.info())
# print(df_cargo_30.head(100))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 0 to 3119
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ZIP                         3120 non-null   int64
 1   airport_name                3120 non-null   object
 2   IATA_code                   3120 non-null   object
 3   city                        3120 non-null   object
 4   state                       3120 non-null   object
 5   2019                        3120 non-null   object
 6   2018                        3120 non-null   object
 7   2017                        3120 non-null   object
 8   2016                        3120 non-null   object
 9   2015                        3120 non-null   object
 10  2014                        3120 non-null   object
 11  2013                        3120 non-null   object
 12  2012                        3120 non-null   object
 13  2011                        3120 non-null   object
 14  2010                        3120 non-null   object
 15  2009                        3120 non-null   object
 16  2008                        3120 non-null   object
 17  10_year_per_chg             3120 non-null   object
 18  14_'19_per_chg              3120 non-null   object
 19  10_year_rank                3120 non-null   int64
 20  14_'19_rank                 3120 non-null   int64
 21  address                     3120 non-null   object
 22  latitude                    3120 non-null   float64
 23  longitude                   3120 non-null   float64
 24  sdzi_zip_nm                 3120 non-null   object
 25  sdzi_zip_cd                 3120 non-null   float64
 26  sdzi_longitude              3120 non-null   float64
 27  sdzi_latitude               3120 non-null   float64
 28  sdzi_30_intersect_zip_area  3120 non-null   float64
 29  sdzi_30_intersect_area      3120 non-null   float64
dtypes: float64(7), int64(3), object(20)
memory usage: 755.6+ KB
None
      ZIP  ... sdzi_30_intersect_area
0   38116  ...              10.428421
1   38116  ...              17.337608
2   38116  ...              17.337608
3   38116  ...              17.337608
4   38116  ...              17.337608
..    ...  ...                    ...
95  33166  ...               9.817293
96  33166  ...               9.817293
97  33166  ...               9.817293
98  33166  ...               9.817293
99  33166  ...               9.817293

[100 rows x 30 columns]

In [ ]:
# df_cargo_30.set_index(['ZIP', 'IATA_code'], inplace=True)
# df_cargo_30.head(100)

                                  airport_name  ... sdzi_30_intersect_area
ZIP   IATA_code                                 ...
38116 MEM        Memphis International Airport  ...              10.428421
      MEM        Memphis International Airport  ...              17.337608
      MEM        Memphis International Airport  ...              17.337608
      MEM        Memphis International Airport  ...              17.337608
      MEM        Memphis International Airport  ...              17.337608
...                                        ...  ...                    ...
33166 MIA          Miami International Airport  ...               9.817293
      MIA          Miami International Airport  ...               9.817293
      MIA          Miami International Airport  ...               9.817293
      MIA          Miami International Airport  ...               9.817293
      MIA          Miami International Airport  ...               9.817293

[100 rows x 28 columns]

In [ ]:
# df_labor_cargo_30 = df_map_30_zc.reset_index().merge(df_cargo_30.reset_index(), 
#                                                      on='ZIP', how='inner').set_index([''])
# df_labor_cargo_30.info()
df_labor_cargo_30 = df_cargo.merge(df_map_30_zc.reset_index(), left_on='ZIP',
                                   right_on='sdzi_zip_cd', how='inner')
df_labor_cargo_30.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3093 entries, 0 to 3092
Data columns (total 52 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   airport_name                         3093 non-null   object
 1   IATA_code                            3093 non-null   object
 2   city                                 3093 non-null   object
 3   state                                3093 non-null   object
 4   2019                                 3093 non-null   object
 5   2018                                 3093 non-null   object
 6   2017                                 3093 non-null   object
 7   2016                                 3093 non-null   object
 8   2015                                 3093 non-null   object
 9   2014                                 3093 non-null   object
 10  2013                                 3093 non-null   object
 11  2012                                 3093 non-null   object
 12  2011                                 3093 non-null   object
 13  2010                                 3093 non-null   object
 14  2009                                 3093 non-null   object
 15  2008                                 3093 non-null   object
 16  10_year_per_chg                      3093 non-null   object
 17  14_'19_per_chg                       3093 non-null   object
 18  10_year_rank                         3093 non-null   int64
 19  14_'19_rank                          3093 non-null   int64
 20  address                              3093 non-null   object
 21  ZIP_x                                3093 non-null   int64
 22  latitude                             3093 non-null   float64
 23  longitude                            3093 non-null   float64
 24  sdzi_zip_cd                          3093 non-null   float64
 25  ZIP_y                                3093 non-null   int64
 26  ZIP_Name                             3093 non-null   object
 27  2019 Jobs                            3093 non-null   object
 28  2020 Jobs                            3093 non-null   int64
 29  2019 - 2020 Change                   3093 non-null   object
 30  Regional Completions (2019)          3093 non-null   float64
 31  Automation Index                     3093 non-null   float64
 32  2020 Resident Workers                3093 non-null   object
 33  2020 Net Commuters                   3093 non-null   float64
 34  Avg. Hourly Earnings                 3093 non-null   object
 35  Median Hourly Earnings               3093 non-null   object
 36  Median Annual Earnings               3093 non-null   object
 37  COL Index                            3093 non-null   object
 38  COL Adjusted Avg. Hourly Earnings    3093 non-null   object
 39  COL Adjusted Median Hourly Earnings  3093 non-null   object
 40  COL Adjusted Median Annual Earnings  3093 non-null   object
 41  Occ. Mix Effect                      3093 non-null   float64
 42  Nat'l Growth Effect                  3093 non-null   float64
 43  Expected Change                      3093 non-null   float64
 44  Competitive Effect                   3093 non-null   float64
 45  2014 Median Hourly Earnings          3093 non-null   object
 46  2015 Avg. Hourly Earnings            3093 non-null   object
 47  sdzi_zip_nm                          3093 non-null   object
 48  sdzi_longitude                       3093 non-null   float64
 49  sdzi_latitude                        3093 non-null   float64
 50  sdzi_30_intersect_zip_area           3093 non-null   float64
 51  sdzi_30_intersect_area               3093 non-null   float64
dtypes: float64(14), int64(5), object(33)
memory usage: 1.3+ MB

In [ ]:
df_labor_cargo_30.reset_index(inplace=True)
df_labor_cargo_30.head(100)

   IATA_code  sdzi_zip_cd  ... sdzi_30_intersect_zip_area sdzi_30_intersect_area
0        MEM      38116.0  ...                  82.512026               0.000097
1        MEM      38116.0  ...                   7.321858               3.889851
2        MEM      38116.0  ...                   4.904836               4.904836
3        MEM      38116.0  ...                   1.775869               1.775869
4        MEM      38116.0  ...                  14.561133              12.206865
..       ...          ...  ...                        ...                    ...
95       SDF      40209.0  ...                   3.367384               3.367384
96       SDF      40209.0  ...                   4.094224               4.094224
97       SDF      40209.0  ...                  34.448851              13.589036
98       SDF      40209.0  ...                  13.082669              11.553976
99       SDF      40209.0  ...                  36.174801              30.741593

[100 rows x 52 columns]

In [ ]:
df_30_grouped = df_labor_cargo_30.groupby(['IATA_code'])[["2020 Net Commuters", "2020 Jobs"]].sum()
df_30_grouped.head(48)

           2020 Net Commuters  2020 Jobs
IATA_code
ABE                    533.58     158554
ABQ                   9934.00     151017
AFW                  37491.22     556352
ANC                   8796.67      54036
ATL                  60791.66     420673
AUS                  38918.19     289275
BDL                  28102.21     236505
BFI                 134847.24     483693
BOS                 108648.27     508978
BWI                  28189.80     194988
CLT                  46491.31     407208
CVG                   3920.76     200182
DEN                  28340.68     344478
DFW                 232770.11    1120023
DTW                  53025.90     428373
ELP                   8915.70     165314
EWR                 268701.57     996202
GSO                  12826.43     169845
HNL                  -1157.49       1718
IAH                 141036.02     709162
IND                  32333.15     278338
JFK                -181713.63    1023526
LAX                 141941.63    1369444
LCK                  29711.93     305512
LRD                  10144.32      19796
MCI                    478.26     103645
MCO                  80113.39     452886
MEM                  47220.15     253432
MIA                  25365.13     589246
MKE                  25843.42     279458
MSP                  88758.82     534769
OAK                  84429.27     545521
ONT                 -36245.85     854004
ORD                 116722.36     567380
PDX                  35388.23     277590
PHL                  24980.47     469058
PHX                 104529.04     749844
RDU                  36350.11     321210
RFD                  -9918.89      90161
RIC                  -1972.35      95648
RNO                   5476.85     105736
SAN                  37169.44     530687
SAT                  14232.30     452735
SDF                  24969.18     266718
SEA                 124916.16     466368
SFO                 124543.95     602935
TPA                  64450.47     379074

In [ ]:
df_30_grouped_locations = df_cargo.merge(df_30_grouped.reset_index(), how='inner', on='IATA_code')
df_30_grouped_locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   airport_name        47 non-null     object
 1   IATA_code           47 non-null     object
 2   city                47 non-null     object
 3   state               47 non-null     object
 4   2019                47 non-null     object
 5   2018                47 non-null     object
 6   2017                47 non-null     object
 7   2016                47 non-null     object
 8   2015                47 non-null     object
 9   2014                47 non-null     object
 10  2013                47 non-null     object
 11  2012                47 non-null     object
 12  2011                47 non-null     object
 13  2010                47 non-null     object
 14  2009                47 non-null     object
 15  2008                47 non-null     object
 16  10_year_per_chg     47 non-null     object
 17  14_'19_per_chg      47 non-null     object
 18  10_year_rank        47 non-null     int64
 19  14_'19_rank         47 non-null     int64
 20  address             47 non-null     object
 21  ZIP                 47 non-null     int64
 22  latitude            47 non-null     float64
 23  longitude           47 non-null     float64
 24  2020 Net Commuters  47 non-null     float64
 25  2020 Jobs           47 non-null     int64
dtypes: float64(3), int64(4), object(19)
memory usage: 9.9+ KB

In [ ]:
df_30_grouped_locations.drop(labels=['2019', '2018','2017','2016','2015','2014',
                                     '2013','2012','2011', '2010','2009','2008',
                                     '10_year_per_chg',"14_'19_per_chg"], axis=1,
                             inplace=True)
df_30_grouped_locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   airport_name        47 non-null     object
 1   IATA_code           47 non-null     object
 2   city                47 non-null     object
 3   state               47 non-null     object
 4   10_year_rank        47 non-null     int64
 5   14_'19_rank         47 non-null     int64
 6   address             47 non-null     object
 7   ZIP                 47 non-null     int64
 8   latitude            47 non-null     float64
 9   longitude           47 non-null     float64
 10  2020 Net Commuters  47 non-null     float64
 11  2020 Jobs           47 non-null     int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.8+ KB

In [ ]:
df_30_grouped_locations.to_excel('port_labor_30_min.xlsx', sheet_name='Sheet1')

In [ ]:
#df_labor_cargo_30.set_index(['IATA_code', 'ZIP_y'], inplace=True)
#df_labor_cargo_30.head(100)

                 sdzi_zip_cd  ... sdzi_30_intersect_area
IATA_code ZIP_y               ...
MEM       38017      38116.0  ...               0.000097
          38103      38116.0  ...               3.889851
          38104      38116.0  ...               4.904836
          38105      38116.0  ...               1.775869
          38106      38116.0  ...              12.206865
...                      ...  ...                    ...
SDF       40242      40209.0  ...               3.367384
          40243      40209.0  ...               4.094224
          40245      40209.0  ...              13.589036
          40258      40209.0  ...              11.553976
          40272      40209.0  ...              30.741593

[100 rows x 50 columns]

In [ ]:
df_labor_cargo_30.sort_index(inplace=True)
df_labor_cargo_30.head(100)

                 sdzi_zip_cd  ... sdzi_30_intersect_area
IATA_code ZIP_y               ...
ABE       8865       18109.0  ...               1.838891
          18011      18109.0  ...               0.027041
          18014      18109.0  ...              25.429896
          18015      18109.0  ...              21.826864
          18017      18109.0  ...              15.830236
...                      ...  ...                    ...
AFW       76017      76177.0  ...               1.098520
          76020      76177.0  ...               0.050474
          76021      76177.0  ...               7.396806
          76022      76177.0  ...               2.613423
          76023      76177.0  ...               0.434276

[100 rows x 50 columns]